<!-- for gmail signature -->
<table cellpadding="0" cellspacing="0" class="ng-scope" style="box-sizing: border-box; border-spacing: 0px; border-collapse: collapse; color: rgb(68, 68, 68); font-variant-ligatures: normal; orphans: 2; widows: 2; text-decoration-thickness: initial; width: 480px; font-size: 9pt; font-family: Arial, sans-serif; line-height: 14px;">
    <tbody style="box-sizing: border-box;">
    <tr style="box-sizing: border-box;">
    <td colspan="2" style="box-sizing: border-box; padding: 0px 0px 5px; width: 480px; color: rgb(60, 60, 59);">
    <span class="ng-binding" style="box-sizing: border-box; font-weight: bold;">
    <font face="Arial" style="font-size: 18px;">Daewon Kim</font>
</span>
</td>
</tr>
    <tr style="box-sizing: border-box;">
    <td colspan="2" style="box-sizing: border-box; padding: 0px 0px 5px; width: 480px; color: rgb(23, 147, 210);">
    <span ng-if="showField('title')" class="ng-binding ng-scope" style="box-sizing: border-box; font-size: 11pt; color: rgb(33, 150, 243);">
    <font face="Arial">Software Engineer</font>
</span>
</td>
</tr>
    <tr style="box-sizing: border-box;">
    <td colspan="2" style="box-sizing: border-box; padding: 0px 0px 2px; width: 480px; border-top: 1px dotted rgb(69, 90, 100);">
    &nbsp;</td>
</tr>
    <tr style="box-sizing: border-box;">
    <td ng-if="showField('logo')" valign="middle" class="ng-scope" style="box-sizing: border-box; padding: 0px; width: 120px; vertical-align: middle;">
    <a ng-if="showField('logoURL')" href="https://github.com/xoxwgys56" target="_blank" class="ng-scope" style="box-sizing: border-box; color: rgb(51, 122, 183); text-decoration: none;">
    <img border="0" alt="Signature profile image" width="88" height="88" ng-src="https://avatars.githubusercontent.com/u/31695770?v=4" src="https://avatars.githubusercontent.com/u/31695770?v=4" style="box-sizing: border-box; border: 0px; vertical-align: middle; width: 88px; height: 88px;">
</a>
</td>
    <td valign="middle" style="box-sizing: border-box; padding: 0px; width: 360px; color: rgb(19, 19, 19); vertical-align: middle;">
    <table cellpadding="0" cellspacing="0" style="box-sizing: border-box; border-spacing: 0px; border-collapse: collapse;">
    <tbody style="box-sizing: border-box;">
    <tr style="box-sizing: border-box;">
</tr>
    <tr style="box-sizing: border-box;">
</tr>
    <tr style="box-sizing: border-box;">
    <td style="box-sizing: border-box; padding: 1px; font-family: Verdana, sans-serif; font-size: 9pt; color: rgb(69, 90, 100);">
    <a ng-if="showField('website')" href="http://gamedevlife.tistory.com/" target="_blank" class="ng-scope" style="box-sizing: border-box; color: rgb(51, 122, 183); text-decoration: none; font-family: Arial, sans-serif; font-size: 9pt;">
    <span class="ng-binding" style="box-sizing: border-box; font-family: Verdana, sans-serif; font-size: 9pt; color: rgb(69, 90, 100);">
    gamedevlife.tistory.com/</span>
</a>
</td>
</tr>
    <tr style="box-sizing: border-box;">
    <td style="box-sizing: border-box; padding: 1px;">
    <span class="ng-binding" style="box-sizing: border-box; font-family: Verdana, sans-serif; font-size: 9pt; color: rgb(69, 90, 100);">
</span>
</td>
</tr>
    <tr ng-if="isAnyFieldEntered('facebookURL,linkedinURL,twitterURL,youtubeURL,instagramURL')" class="ng-scope" style="box-sizing: border-box;">
    <td style="box-sizing: border-box; padding: 2px 0px 0px 1px;">
    <span style="box-sizing: border-box; display: inline-block; height: 23px;">
    <span ng-if="showField('facebookURL')" class="ng-scope" style="box-sizing: border-box;">
    <a href="https://www.facebook.com/tkrhkdjanr" target="_blank" style="box-sizing: border-box; color: rgb(51, 122, 183); text-decoration: none;">
    <img alt="Facebook icon" border="0" width="23" height="23" ng-src="/signature-generator-images/compact-logo/fb.png" src="https://www.mail-signatures.com/signature-generator-images/compact-logo/fb.png" style="box-sizing: border-box; border: 0px; vertical-align: middle; height: 23px; width: 23px;">
</a>
    &nbsp;&nbsp;</span>
    <span ng-if="showField('linkedinURL')" class="ng-scope" style="box-sizing: border-box;">
    <a href="https://www.linkedin.com/in/daewon-kim-3198851a3/" target="_blank" style="box-sizing: border-box; color: rgb(51, 122, 183); text-decoration: none;">
    <img alt="LinkedIn icon" border="0" width="23" height="23" ng-src="/signature-generator-images/compact-logo/ln.png" src="https://www.mail-signatures.com/signature-generator-images/compact-logo/ln.png" style="box-sizing: border-box; border: 0px; vertical-align: middle; height: 23px; width: 23px;">
</a>
    &nbsp;&nbsp;</span>
    <span ng-if="showField('instagramURL')" class="ng-scope" style="box-sizing: border-box;">
    <a href="https://www.instagram.com/xoxwgys/" target="_blank" style="box-sizing: border-box; color: rgb(51, 122, 183); text-decoration: none;">
    <img alt="Instagram icon" border="0" width="23" height="23" ng-src="/signature-generator-images/compact-logo/it.png" src="https://www.mail-signatures.com/signature-generator-images/compact-logo/it.png" style="box-sizing: border-box; border: 0px; vertical-align: middle; height: 23px; width: 23px;">
</a>
    &nbsp;&nbsp;</span>
</span>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr style="box-sizing: border-box;">
    <td colspan="2" style="box-sizing: border-box; padding: 2px 0px 0px; width: 480px; border-bottom: 1px dotted rgb(69, 90, 100);">
    &nbsp;</td>
</tr>
</tbody>
</table>
